<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Visualização de Nota</div>
                <div class="panel-body">
                    <div class="alert alert-warning">
                        <ul>
                            <li>ID: {{ projectNote.id }}</li>
                            <li>Título: {{ projectNote.title }}</li>
                            <li>Nota: {{ projectNote.note }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>